FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 1.0

# ITAS Invoicing 1.0

<br />
<strong>Release notes</strong> (XX<sup>st</sup> February 2023.)

## New Endpoints

<ul>
<li>Invoicing <b>Trade</b>: Create Sales Invoicing Pilot,<a href="/#reference/invoicing/create-sales"> Link</a></li>
<li>Invoicing <b>Manual</b>: Create Manual Invoicing,<a href="/#reference/invoicing/create-manual"> Link</a></li>
<li>Invoicing <b>Trade Locking</b>: Create Trade Lock,<a href="/#reference/invoicing/create-manual"> Link</a></li>
<li>Invoicing <b>Reference Data</b>: List Vat Sequences,<a href="/#reference/reference-data/vat-sequence-list"> Link</a></li>
</ul>

## Updated Endpoints
<ul>
<li>None</li>
</ul>

## AccessToken [/]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

# Group Manual Invoicing
Manual Invoicing Processes

## Create Manual [/Invoicing/{TradingEntityId}/Manual/Invoice]
`POST` Manual Invoice (using ProcessId INVMAN01)

### Create Manual Invoice [POST]

<b>Request Body</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentBody|see <b><a href="/#reference/data-object-definitions/documentbody/documentdetails">Document Body</a></b> object|`object`|||Required|
|AccountDetails|see <b><a href="/#reference/data-object-definitions/accountdetails">Account Details</a></b> object|[array] of `object`|||Required|

<hr />

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InvoiceReference|Invoice Reference|`string`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (CreateManualInvoice)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (InvoiceRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

# Group Trade Invoicing
Trade Invoicing Processes

## Create Sales [/Invoicing/{TradingEntityId}/Trade/Sales]
`POST` Sales Invoicing (using ProcessId INVF01)

### Create Sales Invoice [POST]

<b>Request Body</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract ID|`string`|10||Required|
|InvoiceDate|Invoice Date|`datetime`|||Required|
|ValueDate|Value Date|`datetime`|||Required|
|Quantity|Quantity|`decimal`|||Required|
|InvoiceCurrencyCode|Invoice Currency Code|`string`|3||Required|
|ProceedsOfGoods|Proceeds of Goods|`decimal`|||Required|
|VatRateCode|Vat Rate Code|`string`|2||Required|
|ProceedsOfGoodsVatValue|VAT Value|`decimal`|||Required|
|InvoiceAccountCode|Invoice Account Code|`string`|10||Required|
|IsSecure|Is Secure|`boolean`||||
|PaymentModeCode|Payment Mode Code|`string`|1|||
|PaymentTermsCode|Payment Terms Code|`string`|8|||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|AuthoriseForPosting|Authorise For Posting|`boolean`||||
|Costs|see <b><a href="/#reference/data-object-definitions/cost/cost">Cost</a></b> object|[array] of `object`|||Additions to the invoice in Invoice Ccy|

<hr />

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InvoiceReference|Invoice Reference|`string`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (CreateInvSales)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (InvoiceRefResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

# Group Trade Locking
Trade Locking Processes

## Create Trade Lock [/Locking/{TradingEntityId}/Trade/Lock]
`POST` Trade Lock (lock lasts 60 seconds)

### Create Trade Lock [POST]

<b>Request Body</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractId|Contract Id|`string`|10||Required|
|UserName|User Name|`string`|255||Required|
|PCName|PC Name|`string`|50||Required|

<hr />

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|Locked|Is Locked|`boolean`||||
|LockId|Lock Id|`string`||||
|LockExpiryTime|Lock Expiry Time|`datetime`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (LockCreateBody)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (LockResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Refresh Trade Lock [/Locking/{TradingEntityId}/Trade/Refresh/{LockId}]
`PUT` Refresh Trade Lock (refresh trade lock for another 60 seconds)

### Refresh Trade Lock [PUT]

<b>URI Parameters</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|LockId|Lock Id|`string`|50||Required|

<hr />

<strong>Body Parameters</strong>

None.

<hr />

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|Locked|Is Locked|`boolean`||||
|LockId|Lock Id|`string`||||
|LockExpiryTime|Lock Expiry Time|`datetime`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + LockId (required, string `jt_TRAD_P00001`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (LockResponse)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Remove Trade Lock [/Locking/{TradingEntityId}/Trade/Remove/{LockId}]
`PUT` Remove Trade Lock

### Remove Trade Lock [PUT]

<b>URI Parameters</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|LockId|Lock Id|`string`|50||Required|

<hr />

<strong>Body Parameters</strong>

None.

<hr />

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|Locked|Has Locked|`boolean`||||
|LockId|Lock Id|`string`||||
|LockExpiryTime|Lock Expiry Time|`datetime`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + LockId (required, string `jt_TRAD_P00001`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (LockRemoveResponse)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

# Group Reference Data
Invoice Reference Data endpoints

## Vat Sequence List [/Invoicing/{TradingEntityId}/ReferenceData/VatSequencees/{VatCode}/{PaymentTermsCode}/{InvoiceType}/{InvoiceDate}]
`GET` List of Vat Sequences.

### List Vat Sequences [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VatSequenceId|Vat Sequence ID|`number`||||
|VatSequenceDescription|Vat Sequence Description|`string`|255|||
|CountryCode|Country Code|`string`|3|||
|CashCreditStyle|Cash Credit Style|`string`|6|`Cash`, `Credit` or `All`||
|InvoiceTypes|Invoice Types|`string`|255|||
|StartDate|Start Date|`datetime`||||
|EndDate|End Date|`datetime`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + VatCode(required, string, `H`)
    + PaymentTermsCode(required, string, `10 DAYS`)
    + InvoiceType(required, string, `PI`)
    + InvoiceDate(required, string, `2023-01-31`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [VatSequenceList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

# Group Data Object Definitions
List of re-usable Data Objects referenced as `object` types. Not that these endpoints are not accessable and only here for reference purposes.

## AccountDetails [/AccountDetails]
A multipurpose object used by several endpoints
### AccountDetails[GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|AccountCode|Account Code|`string`|11||Required|
|AccountLedgerType|Account Ledger Type|`string`|1||Required. `C`, `N` or `K`|
|ExpenseCode|Expense Code|`string`|7||Required|
|DepartmentCode|Department Code|`string`|4||Required|
|AssociateClientCode|Associate Client Code|`string`|10|`Nominal Leg`||
|AmountInDocumentCurrency|Amount in Document Currency|`decimal`||Can Contain Negative Values|Required|
|AmountInFunctionalCurrency|Amount in Functional Currency|`decimal`||Can Contain Negative Values||
|VatCode|Vat Code|`string`|2|||
|Narrative|Narrative|`string`|30|||
|SecondaryReference|Secondary Reference|`string`|10|||
|Memo|Contract Reference|`string`|100|||
|FreeField|Free Field|`string`|10|||
|PersonalInits|Client Reference|`string`|3|||


+ Response 200 (application/json; charset=utf-8)
+ Attributes (AccountDetailsVat)

## Cost [/Costs]
A multipurpose object used by several endpoints. 

### Cost[GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CostCode|Cost Code|`string`|8||Required|
|ExpenseCode|Expense Code|`string`|7||Required|
|CostValueInvoiceCcy|Cost Value in Invoice Ccy|`decimal`||Negative if Payable|Required|


+ Response 200 (application/json; charset=utf-8)
+ Attributes (Cost)


## DocumentBody [/DocumentBody]
A multipurpose object used by several endpoints
### DocumentBody[GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InvoiceType|Invoice Type|`string`|2|`PI`, `SI`, `CN` or `DN`|Required|
|DocumentDate|Document Date|`datetime`|20||Required|
|ValueDate|Value Date|`datetime`|20||Required|
|DocumentCurrencyCode|Document Currency|`string`|3||Required|
|FunctionalCurrencyCode|Functional Currency|`string`|3|||
|ReceivedDate|Received Date|`datetime`|20|||
|SecondaryReference|Secondary Reference|`string`|10|||
|DepartmentCode|Department Code|`string`|4|||
|ClientReference|Client Reference|`string`|30|||
|PaymentTermsCode|Payment Terms Code|`string`|8|||
|PaymentModeCode|Payment Mode Code|`string`|1|||

+ Response 200 (application/json; charset=utf-8)
+ Attributes (DocumentBody)


# Data Structures

## 200 SuccessResponse (object)
+ Value: Success (string)

## 200 UpdateResponse (object)
+ Value: Updated (string)

## 200 DeletedResponse (object)
+ Value: Deleted (string)

## 200 AuthoriseResponse (object)
+ Value: Authorised (string)

## 201 CreateResponse (object)
+ Value: Created (string)

## 201 CreateMessages (object)
+ Messages (array [201 ErrorMessageDetail])

## 201 ErrorMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API5084 - LEG : {fieldName} has a {fieldName} of {value}.` (string)

## 201 CreateBllMessages (object)
+ Messages (array [201 ErrorBllMessageDetail])

## 201 ErrorBllMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API5084 - API : {fieldName} has a {fieldName} of {value}.` (string)

## 400 Response (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array [400 ErrorMessageDetail])

## 400 ErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5058 - Data : The mandatory field {fieldName} was missing in the request body.` (string)


## 400 BadPropertyResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadPropertyErrorMessageDetail])

## 400 BadPropertyErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5074 - API : The value sent in the querystring variable {Property} is not allowed.` (string)


## 400 BadReadResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadReadErrorMessageDetail])

## 400 BadReadErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5075 - API : The value sent in the querystring is not allowed.` (string)


## 400 WarningMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API50xx - Data : The field {fieldName} was not found.` (string)

## 400 InfoMessageDetail (object)
+ Severity: Information (string)
+ Message: `API50xx - Data : Now create xyz.` (string)


## 404 Response (object)
+ Response
    + Value: 404 Not Found (string)
+ Messages (array[404 ErrorMessageDetailMessage])

## 404 ErrorMessageDetailMessage (object)
+ Severity: Warning (string)
+ Message: `API5095 - Data : No records found.` (string)


## 405 Response (object)
+ Response
    + Value: 405 Method Not Allowed (string)
+ Messages (array[405 MethodNotAllowedMessage])

## 405 MethodNotAllowedMessage (object)
+ Severity: Error (string)
+ Message: `API5077 - API : That method is not supported, please check the ITAS API documentation.` (string)

## accessToken (object)
+ Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg 

## AccountDetailsClient (object)
+ AccountCode: POSTEIT.P (required, string)
+ AccountLedgerType: C (required, string)
+ ExpenseCode: MISC (required, string)
+ DepartmentCode: GEN (required, string)
+ AmountInDocumentCurrency: `-1.02` (required, number)
+ AmountInFunctionalCurrency: `-1.02` (number)
+ Narrative: STAMPA POSTA 4ONLINE GIU22 (string)
+ SecondaryReference: 3220336229 (string)
+ Memo: Add Memo Here (string)
+ FreeField: 0123456789 (string)
+ PersonalInits: RDG (string)

## AccountDetailsNominal (object)
+ AccountCode: 7150.0080 (required, string)
+ AccountLedgerType: N (required, string)
+ ExpenseCode: MISC (required, string)
+ DepartmentCode: GEN (required, string)
+ AssociateClientCode: ASSOCCLI.P (string)
+ AmountInDocumentCurrency: 0.84 (required, number)
+ AmountInFunctionalCurrency: 0.84 (number)
+ Narrative: STAMPA POSTA 4ONLINE GIU22 (string)
+ SecondaryReference: 3220336229 (string)
+ Memo: Add Memo Here (string)
+ FreeField: 0123456789 (string)
+ PersonalInits: RDG (string)

## AccountDetailsVat (object)
+ AccountCode: 2141.0010 (required, string)
+ AccountLedgerType: N (required, string)
+ ExpenseCode: MISC (required, string)
+ DepartmentCode: GEN (required, string)
+ AmountInDocumentCurrency: 0.18 (required, number)
+ AmountInFunctionalCurrency: 0.18 (number)
+ VatCode: 22 (string)
+ Narrative: STAMPA POSTA 4ONLINE GIU22 (string)
+ SecondaryReference: 3220336229 (string)
+ Memo: Add Memo Here (string)
+ FreeField: 0123456789 (string)
+ PersonalInits: RDG (string)

## Cost (object)
+ CostCode: QUALITY (required, string)
+ ExpenseCode: STOCK (required, string)
+ CostValueInvoiceCcy: `316.25` (required, number) 

## CreateInvSales (object)
+ ContractId: S00001.000 (required, string)
+ InvoiceDate: `2022-06-22T00:00:00Z` (required, string)
+ ValueDate: `2022-06-22T00:00:00Z` (required, string)
+ Quantity: 700 (required, number)
+ InvoiceCurrencyCode: GBP (required, string)
+ ProceedsOfGoods: 7000 (required, number)
+ VatRateCode: Z (required, string)
+ ProceedsOfGoodsVatValue: 140 (required, number)
+ InvoiceAccountCode: CLIENT.S (required, string)
+ IsSecure: true (boolean)
+ PaymentModeCode: P (string)
+ PaymentTermsCode: INV 7D (string)
+ ClientReference: 123B (string)
+ Narrative: 22881 205 per metric ton (string)
+ AuthoriseForPosting: true (boolean)
+ Costs (array [Cost])

## CreateManualInvoice (object)
+ DocumentBody (required, DocumentBody)
+ AccountDetails (required, array [AccountDetailsClient, AccountDetailsVat, AccountDetailsNominal])


## DocumentBody (object)
+ InvoiceType: PI (required, string)
+ DocumentDate: `2022-08-10T00:00:00Z` (required, string)
+ ValueDate: `2022-08-10T00:00:00Z` (required, string)
+ DocumentCurrencyCode: EUR (required, string)
+ FunctionalCurrencyCode: EUR (string)
+ ReceivedDate: `2022-08-10T00:00:00Z` (string)
+ SecondaryReference: 3220336229 (string)
+ DepartmentCode: GEN (string)
+ ClientReference: 3220336229 (string)
+ PaymentTermsCode: 30DFBB (string)
+ PaymentModeCode: P (string)

## InvoiceRefResponse (object)
+ InvoiceReference: SI2200001 (string)

## LockCreateBody (object)
+ ContractId: P00001.000 (string)
+ UserName: JSMITH (string)
+ PCName: JSMITH-PC (string)

## LockRemoveResponse (object)
+ Locked: false (boolean)
+ LockId: jt_TRAD_P00001 (string)
+ LockExpiryTime: `1900-01-01T00:00:00Z` (string)

## LockResponse (object)
+ Locked: true (boolean)
+ LockId: jt_TRAD_P00001 (string)
+ LockExpiryTime: `2023-01-16T17:47:31Z` (string)

## Pagination (object)
+ Total: 547 (number) - total number of records available
+ Top: 200 (number) - max number returned per message 
+ Skip: 400 (number) - number of records skipped
+ Returned: 146 (number) - actual number returned

## VatSequenceList
+ VatSequenceId: 2 (number)
+ VatSequenceDescription: `British CN-DN` (string)
+ CountryCode: GB (string)
+ CashCreditStyle: All (string)
+ InvoiceTypes: `CN,DN` (string)
+ StartDate: `2023-01-02T00:00:00Z` (string)
+ EndDate: `2023-06-02T00:00:00Z` (string)

